<!-- app/views/buttons/_form.html.erb -->

<%= form_with(model: button, local: true) do |form| %>
  <% if button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(button.errors.count, "error") %> prohibited this button from being saved:</h2>

      <ul>
        <% button.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'components/crypto_field', id: :button_summary do %>
    <div class="form-field">
      <%= form.label :summary, 'When I click this button,', required: true %>
      <%= form.text_field :summary_ciphertext, { id: :button_summary, placeholder: 'I\'m a slow reader', required: true, maxlength: 80 } %>
    </div>
  <% end %>

  <%= render 'components/crypto_field', id: :button_prompt do %>
    <div class="form-field">
      <%= form.label :prompt, 'I\'ll say:', required: true %>
      <%= form.text_area :prompt_ciphertext, { id: :button_prompt, placeholder: 'I\'m a slow reader. This is where I might tell you about what that means to me, so that you can help me by writing in a style that works for me. I might even give you examples, if I really want to be super clear. :)', required: true } %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
