<!-- app/views/buttons/show.html.erb -->

<h1>Button</h1>

<p>When I click this button,</p>
<div class="chat-message assistant"><button disabled><%= render 'components/crypto_decrypt', placeholder: '[ ENCRYPTED ]', ciphertext: @button.summary_ciphertext %></button></div>

<p>I'll say:</p>
<div class="chat-message assistant"><blockquote><%= render 'components/crypto_decrypt', placeholder: '[ ENCRYPTED ]', ciphertext: @button.prompt_ciphertext %></blockquote></div>

<div class="stack-horizontal">
  <%= link_to 'Back', buttons_path %>
  <%= link_to 'Edit button', edit_button_path(@button) %>
  <%= render 'components/button_toggle', button: @button %>
</div>
