<crypto-manager>
  <template shadowrootmode="open">
    <%= stylesheet_link_tag 'components/crypto_manager' %>
    <%= stylesheet_link_tag 'tags/form' %>
    <%= stylesheet_link_tag 'tags/input' %>
    <%= stylesheet_link_tag 'tags/button' %>
    <%= stylesheet_link_tag 'concerns/text-button' %>
    <%= stylesheet_link_tag 'concerns/stacks' %>
    <%= stylesheet_link_tag 'concerns/text' %>

    <div class="stack-vertical" id="wrapper" data-state="<%= current_user.public_key ? 'locked' : 'uninitialized' %>%">
      <h2>Security</h2>
      <p id="statusMessage"></p>

      <div id="uninitializedView">
        <form id="initForm">
          <input type="text" id="initPassphrase" placeholder="Enter passphrase" required>
          <input type="text" id="confirmPassphrase" placeholder="Confirm passphrase" required>
          <div class="stack-horizontal">
            <button type="submit">Create</button>
          </div>
        </form>
      </div>

      <div id="lockedView">
        <form id="unlockForm">
          <input type="text" id="unlockPassphrase" placeholder="Enter Passphrase" required>
          <div class="stack-horizontal">
            <button type="submit">Unlock</button>
          </div>
        </form>
      </div>

      <div id="unlockedView">
        <div class="stack-horizontal">
          <button class="text-button" id="lockButton">Lock</button>
          <button class="text-button" id="changePassphraseButton">Change passphrase</button>
        </div>
      </div>

      <form id="changePassphraseForm">
        <h3>Change passphrase</h3>
        <div class="form-field">
          <label for="oldPassphrase">Current passphrase</label>
          <input type="text" id="oldPassphrase" required>
        </div>
        <div class="form-field">
          <label for="newPassphrase">New passphrase</label>
          <input type="text" id="newPassphrase" required>
        </div>
        <div class="form-field">
          <label for="confirmNewPassphrase">Confirm new passphrase</label>
          <input type="text" id="confirmNewPassphrase" required>
        </div>
        <div class="stack-horizontal">
          <button type="submit">Change passphrase</button>
          <button type="button" id="cancelChangePassphraseButton" class="text-button">Cancel</button>
        </div>
      </form>
    </div>
  </template>
</crypto-manager>
