<prompt-button>
  <template shadowrootmode="open">
    <button part="button">
      <% if defined? summary %>
        <%= summary %>
      <% elsif defined? summary_ciphertext %>
        <%= render 'components/crypto_decrypt', placeholder: 'Loading...', ciphertext: summary_ciphertext %>
      <% else %>
        <%= prompt %>
      <% end %>
    </button>
  </template>

  <% if defined? prompt_ciphertext %>
    <%= render 'components/crypto_decrypt', placeholder: 'Loading...', ciphertext: prompt_ciphertext %>
  <% else %>
    <%= prompt %>
  <% end %>
</prompt-button>
