<noscript>Wow friend you will definitely need to enable JavaScript to use this site. It's like magic, but real. Come on back when you can. :)</noscript>

<div id="loading-message">One moment&hellip;</div>

<%= tag.script json_escape(chat_context.to_json).html_safe, type: 'application/json', id: 'chat-context-data' %>

<div id="chat-container" class="chat-container hidden">
  <div id="chat-log" class="chat-log">
    <div class="stack-horizontal" id="start-suggestions">
      <%= render 'components/prompt_button', prompt: "I'm a slow reader" %>
      <%= render 'components/prompt_button', prompt: "I'm a fast reader" %>
      <% if current_user&.writer? %>
        <%= render 'components/prompt_button', prompt: "ooo, fun", pro: true %>
      <% end %>

      <span id="instructions">← pick one</span>
    </div>
  </div>

  <div id="response-suggestions" class="stack-horizontal hidden">
    <%= render 'components/prompt_button', prompt: 'Are you okay?' %>
    <%= render 'components/prompt_button', prompt: 'What happened?' %>
    <%= render 'components/prompt_button', prompt: 'Retry' %>
  </div>

  <div id="text-input" class="hidden">
    <textarea class="element" disabled rows="1"></textarea>
    <button class="element button">→</button>
  </div>

  <div class="tools">
    <a href="#" id="start-over-button" class="hidden">Start over?</a>
    <p>Your conversation is private. :)</p>
    <p>History is saved on your device; it'll be here when you come back.</p>
    <p>You can start over at any time.</p>
  </div>
</div>
