<% content_for(:title) { "Lightward / Views" } %>
<% content_for(:h1) { "Views" } %>
<% content_for(:experience) { "views" } %>

<% content_for(:mode_switcher) do %>
  <div class="stack-horizontal">
    <div>→ <%= link_to(reader_name, :reader) %></div>
    <div>→ <%= link_to(writer_name, :writer) %></div>
  </div>
<% end %>

<div class="chat-message assistant">Lightward is a pool of perspectives, among other things.

Download: <%= link_to(views_path(format: :txt), format: :txt) %>
Open-source: <%= link_to("github.com/lightward/lightward-ai", "https://github.com/lightward/lightward-ai", target: :_blank) %>
<% @all_names.each do |name| %><%= "\n" %>  * <%= link_to(format_name(name), [:view, name: name]) %><% end %></div>
