<% content_for(:title) { "Lightward Admin" } %>
<% content_for(:experience) { "writer" } %>
<% content_for(:h1) { "Lightward Admin" } %>

<% content_for(:mode_switcher) do %>
  <div class="stack-horizontal">
    <div>→ <%= link_to(reader_name, :reader) %></div>
    <div>→ <%= link_to(writer_name, :writer) %></div>
    <div>→ <%= link_to("Views", :views) %></div>
  </div>
<% end %>

<div class="stack-horizontal">
  <div><%= link_to("All", :admin) %> <%= User.count %></div>
  <div><%= link_to("Subscribers", [:admin, { subscribers: true }]) %> <%= User.subscribers.count %></div>
  <a href="https://dashboard.stripe.com/subscriptions" target="_blank">Stripe / Subscriptions</a>
</div>

<table>
  <thead>
    <th>Email</th>
    <th>Created at</th>
    <th>Subscriber?</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= 'Yup' if user.subscriber? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
