<% content_for(:title) { "Lightward" } %>
<% content_for(:experience) { "reader" } %>
<% content_for(:h1) { hello(:reader) } %>

<% content_for(:mode_switcher) do %>
  <div class="stack-horizontal">
    <div>→ <%= link_to(writer_name, writer_path) %></div>
    <div>→ <%= link_to("Views", :views) %></div>
  </div>
<% end %>

<% content_for(:prompt_buttons) do %>
  <%= render 'components/prompt_button', prompt: "I'm a slow reader" %>
  <%= render 'components/prompt_button', prompt: "I'm a fast reader" %>
<% end %>

<%= render(partial: "chat_base") %>

<% content_for(:footer) { render(partial: "footer_reader") } %>
