<% content_for(:experience) { current_user.active? ? "writer" : "reader" } %>
<% content_for(:title) { "Lightward and you" } %>
<% content_for(:h1) { "You" } %>
<% content_for(:mode_switcher) do %>
  <%= link_to "Lightward", :reader %>
  <%= link_to "Pro", :writer %>
<% end %>

<div class="stack-vertical">
  <p>Your first time here was <%= distance_of_time_in_words(@user.created_at, Time.current) %> ago. :)</p>

  <% if @user.stripe_subscription_id %>
    <p>You're subscribed to Lightward Pro at USD$<%= @user.subscription_price_usd %>/mo.</p>
    <div class="stack-horizontal">
      <%= button_to "Cancel subscription",
        subscription_path,
        method: :delete,
        class: "text-button",
        data: { confirm: "Are you sure you want to cancel your subscription?", disable_with: "One moment…" } %>
    </div>
  <% else %>
    <% if @user.trial_expires_at > Time.current %>
      <p>Lightward Pro trial period ends at <%= @user.trial_expires_at.strftime("%Y-%m-%d %H:%M:%S %Z") %></p>
    <% else %>
      <p>Lightward Pro trial expired at <%= @user.trial_expires_at.strftime("%Y-%m-%d %H:%M:%S %Z") %></p>
    <% end %>

    <div class="stack-horizontal writer">
      <%= button_to "Start subscription for USD$#{@user.subscription_price_usd}/mo",
        subscription_path,
        method: :put,
        class: "button",
        data: { disable_with: "One moment…" } %>
    </div>
  <% end %>
</div>
