<!DOCTYPE html>
<html>
<head>
  <title>Lightward AI</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />
  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit-lining.css" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "chat", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
</head>

<body>
  <div class="container">
    <h1>Lightward AI</h1>
    <%= yield %>
  </div>
</body>
</html>
