<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || "Lightward" %></title>

  <% if content_for?(:description) %>
    <%= content_tag(:meta, nil, name: "description", content: yield(:description)) %>
  <% end %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />

  <%= stylesheet_link_tag "application" %>

  <%# importmaps for old browsers %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"></script>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
</head>

<body>
  <div class="container">
    <header>
      <%= content_tag(:h1, (yield(:h1).presence || "Lightward"), { title: yield(:title) }) %>

      <%= yield(:mode_switcher) %>

      <% if current_user %>
        <%= current_user.email %>
        <a href="<%= logout_path %>">Logout</a>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= yield(:footer).presence %>
    </footer>
  </div>
</body>
</html>
