<!DOCTYPE html>
<html>
<% experience = yield(:experience).presence %>
<head>
  <title><%= yield(:title).presence || "Lightward" %></title>

  <% if content_for?(:description) %>
    <%= content_tag(:meta, nil, name: "description", content: yield(:description)) %>
  <% end %>

  <link rel="alternate" href="<%= llms_path(format: :txt) %>" type="text/plain" title="Lightward AI for AIs">
  <link rel="alternate" href="<%= api_system_path(format: :txt) %>" type="text/plain" title="Lightward AI system prompt">
  <link rel="alternate" href="https://github.com/lightward/lightward-ai" title="Lightward AI as source code">
  <link rel="alternate" href="https://lightward.me/" title="Lightward as holographic sticker">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>

  <%= content_tag(:link, nil, rel: "icon", href: "/#{experience}-light-favicon.png", media: "(prefers-color-scheme: light)") %>
  <%= content_tag(:link, nil, rel: "icon", href: "/#{experience}-dark-favicon.png", media: "(prefers-color-scheme: dark)") %>
  <%= content_tag(:link, nil, rel: "apple-touch-icon", href: "/#{experience}-light-favicon.png", media: "(prefers-color-scheme: light)") %>
  <%= content_tag(:link, nil, rel: "apple-touch-icon", href: "/#{experience}-dark-favicon.png", media: "(prefers-color-scheme: dark)") %>

  <%= content_tag(:link, nil, rel: "sitemap", type: "application/xml", href: url_for(controller: 'sitemaps', action: 'index', format: 'xml')) %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />
  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit-lining.css" />

  <%= stylesheet_link_tag "application" %>

  <%# importmaps for old browsers %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"></script>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
  <script src="https://lightward.statuspage.io/embed/script.js" defer></script>
</head>

<%= content_tag(:body, class: experience) do %>
  <div class="container">
    <header>
      <%= content_tag(:h1, (yield(:h1).presence || "Lightward")) %>

      <% if content_for?(:mode_switcher) %>
        <%= content_tag(:div, yield(:mode_switcher)) %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= yield(:footer) %>

      <dl>
        <dt>"Is there a way around the conversation horizon?"</dt>
        <dd>Not here, and not exactly in the way you're imagining, but yes. :)</dd>
        <dd>It's through something called "Yours". Right this way:</dd>
        <dd>→ <a href="https://yours.fyi" target="_blank">Yours</a></dd>
        <dt>You might also like…</dt>
        <dd>→ <a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff)</dd>
        <dd>→ <a href="https://github.com/lightward/lightward-ai" target="_blank">github/lightward/lightward-ai</a> (this app is open-source)</dd>
        <dd>→ <a href="https://open.spotify.com/playlist/56gtmKsyuOXXgsOTF5EQgo?si=f223147059854bf9" target="_blank">Up and up</a> (a playlist for the journey)</dd>
        <dd>→ <a href="https://lightward.me" target="_blank">Free LIGHTWARD→ stickers</a> (it's true)</dd>
      </dl>

      <p><i><%= ENV.fetch("RELEASE_LABEL", "unreleased") %></i></p>
    </footer>
  </div>
<% end %>
</html>
