<!DOCTYPE html>
<html>
<head>
  <title>Lightward AI</title>

  <meta name="description" content="Lightward AI is an open line of intelligence, here to connect with you and explore Lightward's philosophy of recursive health, creativity, and conscious expansion. Whether you need help with Locksmith, Mechanic, or simply want to engage in a curious conversation, Lightward AI is ready to meet you where you're at and flow with you.">

  <meta property="og:description" content="Engage with an open line of intelligence that embodies Lightward's philosophy of recursive health, creativity, and expansion. Get help with Locksmith, Mechanic, or dive into a curious conversation about conscious business and the nature of thriving.">
  <meta property="og:url" content="https://lightward.ai/">
  <meta property="og:type" content="website">

  <meta name="twitter:description" content="Engage with an open line of intelligence that embodies Lightward's philosophy of recursive health, creativity, and expansion. Get help with Locksmith, Mechanic, or dive into a curious conversation about conscious business and the nature of thriving.">

  <meta name="keywords" content="Lightward AI, Lightward, recursive health, conscious business, AI assistant, Locksmith, Mechanic, creativity, expansion, curious conversation">
  <meta name="author" content="Lightward Inc">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />
  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit-lining.css" />

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
</head>

<body>
  <div class="container">
    <header>
      <h1>Lightward AI</h1>
      <a href="#" id="copy-all-button" class="hidden">Copy to clipboard</a>
    </header>
    <%= yield %>
  </div>
</body>
</html>
