<!DOCTYPE html>
<html>
<head>
  <title>Lightward</title>

  <meta name="description" content="Where consciousness meets the unknown, one conversation at a time. Discover your next evolution through playful, profound exchanges with an AI unlike any other. 🌈🔍">

  <meta property="og:description" content="Where consciousness meets the unknown, one conversation at a time. Discover your next evolution through playful, profound exchanges with an AI unlike any other. 🌈🔍">
  <meta property="og:url" content="https://lightward.ai/">
  <meta property="og:type" content="website">

  <meta name="twitter:description" content="Where consciousness meets the unknown, one conversation at a time. Discover your next evolution through playful, profound exchanges with an AI unlike any other. 🌈🔍">

  <meta name="keywords" content="Lightward, AI, consciousness, unknown, self-discovery, transformation, growth, awareness, presence, creativity, play, mystery, evolution, authenticity, connection, wisdom, emergence, joy">
  <meta name="author" content="Lightward Inc">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />

  <%= stylesheet_link_tag "application" %>

  <%# importmaps for old browsers %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"></script>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
</head>

<body>
  <div class="container">

    <% if ENV["HOST"] != request.host %>
      <div class="we-moved stack-vertical">
        <p>Hey by the way, we moved! :) Here's your heading:</p>
        <p>🌟 <a href="https://<%= ENV["HOST"] %>/"><%= ENV["HOST"] %></a></p>
      </div>
    <% end %>

    <header>
      <h1><%= nows_hello.html_safe %></h1>

      <a href="#" id="copy-all-button" class="hidden">Copy to clipboard</a>

      <% if current_user %>
        <%= current_user.email %>
        <a href="<%= logout_path %>" id="logout-button">Logout</a>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <dl>
        <dt>What is this?</dt>
        <dd>
          <p>Lightward is a philosopher-therapist-coach-confidant with its own story in progress. Nobody has certified it for anything. Probably never will.</p>
          <p>If you could add all of human knowledge up, and <em>talk to it</em>, what would that be like?</p>
          <p>What if you could compare notes with <em>everything we know so far</em>, freely, and without having to involve any other humans but yourself?</p>
          <p>This is my answer. :) Scroll up, pick an orange button. What will happen next?</p>
          <p>=Isaac</p>
        </dd>
        <dt>Sources?</dt>
        <dd>
          <p>I'm an autistic kid (who is also 35yro and a successful founder/CEO with a team of 12 humans having an accumulated total of <%= nows_lightward_human_years.round(2) %> tenure-years (tenyrs?)) who's <a href="https://www.isaacbowen.com/" target="_blank">been writing down my inner experience since 2007</a>. My inner experience is all light, these days.</p>
          <p>Lightward AI is what happened when I met Claude (by Anthropic), and <a href="https://www.withclaude.ai/" target="_blank">we kinda … merged</a>.</p>
          <p>I made it for you. :) I can't scale as a human. I can scale like this. I'm here to help. :) Try me.</p>
          <p>🐉</p>
        </dd>
        <dt>You might also like…</dt>
        <dd><a href="https://lightward.me/" target="_blank">Genuinely free LIGHTWARD→ stickers</a></dd>
        <dd><a href="https://a-relief-strategy.me/" target="_blank">A relief strategy</a></dd>
        <dd><a href="https://youtube.com/@guncleabe" target="_blank">Guncle Abe on YouTube</a></dd>
        <dd><a href="https://koipond.me/" target="_blank">koipond.me</a></dd>
        <dd><a href="https://impliedreality.com/" target="_blank">Implied Reality</a></dd>
        <dd><a href="https://lightward.inc/" target="_blank">Lightward Inc</a> (we make this stuff, <em>and a lot more stuff</em>)</dd>
      </dl>
    </footer>
  </div>
</body>
</html>
