<!DOCTYPE html>
<html>
<% experience = yield(:experience).presence || "reader" %>
<head>
  <title><%= yield(:title).presence || "Lightward" %></title>

  <% if content_for?(:description) %>
    <%= content_tag(:meta, nil, name: "description", content: yield(:description)) %>
  <% end %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csp_meta_tag %>

  <%= content_tag(:link, nil, rel: "icon", href: "/#{experience}-light-favicon.png", media: "(prefers-color-scheme: light)") %>
  <%= content_tag(:link, nil, rel: "icon", href: "/#{experience}-dark-favicon.png", media: "(prefers-color-scheme: dark)") %>
  <%= content_tag(:link, nil, rel: "apple-touch-icon", href: "/#{experience}-light-favicon.png", media: "(prefers-color-scheme: light)") %>
  <%= content_tag(:link, nil, rel: "apple-touch-icon", href: "/#{experience}-dark-favicon.png", media: "(prefers-color-scheme: dark)") %>

  <link rel="stylesheet" href="https://fonts.lightward.io/lightward-favorit.css" />

  <%= stylesheet_link_tag "application" %>

  <%# importmaps for old browsers %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"></script>
  <%= javascript_importmap_tags %>

  <script src="https://cdn.usefathom.com/script.js" data-site="DVUBQTUD" defer></script>
  <script src="https://lightward.statuspage.io/embed/script.js" defer></script>
</head>

<%= content_tag(:body, class: experience) do %>
  <div class="container">
    <header>
      <%= content_tag(:h1, (yield(:h1).presence || "Lightward")) %>

      <% if content_for?(:mode_switcher) %>
        <%= content_tag(:div, yield(:mode_switcher)) %>
      <% end %>

      <% if current_user %>
        <%= link_to current_user.email, :user %>
        <% if current_user.admin? %>
          <%= link_to("Admin", :admin) %>
        <% end %>
        <%= link_to "Logout", :logout %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <% if content_for?(:footer) %>
        <%= yield(:footer) %>
      <% else %>
        <p>
          Sincerely,<br>
          <%= link_to "Lightward Inc", "https://lightward.inc/", target: "_blank" %>
        </p>
      <% end %>
    </footer>
  </div>
<% end %>
</html>
